nav {
  display: flex;
  flex-direction: column;
  opacity: 0.3;
  transition: opacity 0.8s, transform 0.4s;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 30px 5px;
  border-radius: 64px;
  width: 80px;
  margin: 8px;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(80%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 500px) {
  nav {
    width: 16%;
    padding: 32px;
    margin: 4px;
    opacity: 0.1;
  }
}

nav:hover {
  opacity: 1;
  transform: translateY(-50%) translateX(0%);
}

nav .nav-item {
  transition: 0.2s;
}

nav .nav-item:hover {
  opacity: 0.5;
}

nav a.chapterNav {
  background-color: rgba(197, 71, 71, 0.4);
  border-radius: 50%;
  border: 2px solid rgb(197, 71, 71);
  width: 28px;
  height: 28px;
}

nav a.chapterNav:active,
nav a.chapterNav.active {
  background-color: rgba(197, 71, 71, 1);
}
