nav {
  display: flex;
  flex-direction: column;
  opacity: 0.3;
  transition: opacity 0.8s;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 64px;
  width: 80px;
  margin: 8px;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 500px) {
  nav {
    width: 16%;
    padding: 32px;
    margin: 4px;
    opacity: .1;
  }
}

nav:hover {
  opacity: 1;
}

nav a {
  text-decoration: none;
}

nav a.chapterNav {
  background-color: rgba(197, 71, 71, 0.4);
  border-radius: 50%;
  border: 2px solid rgb(197, 71, 71);
  width: 28px;
  height: 28px;
  transition: background-color 0.2s;
}

nav a.chapterNav:active {
  background-color: rgba(197, 71, 71, 1);
}
