div.chapter-container {
  width: 100%;
  height: 100%;
  z-index: 1;

  padding: 3% 50pt 2% 50pt;

  scroll-snap-align: start;

  -webkit-animation: BackgroundPositionAnimation 10s ease infinite;
  -moz-animation: BackgroundPositionAnimation 10s ease infinite;
  animation: BackgroundPositionAnimation 10s ease infinite;
}

h1.chapter-title {
  font-size: 4rem;
  color: #ffff;
  padding-bottom: 2%;
  text-align: center;
}

div.chapter-content {
  display: flex;
  justify-content: center;

  position: relative;
  height: 80%; /* this might overflow images */
}

div.chapter-content img {
  max-width:100%;
  max-height:100%;

  position: absolute;
}


div.chapter-content .imap {
  position: absolute;
  max-width:100%;
  max-height:100%;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 251, 0, 0.342);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(217, 255, 0, 0);
  }
}

div.chapter-content .imap .imap-item {
  position: absolute;
  padding: 10px;
  cursor: pointer;

  background-color: rgba(255, 251, 0, 0.342);

  animation: pulse-animation 3s infinite;

  border-radius: 100%;
  z-index: 1;
  transition: 0.8s;
}

.ReactModal__Overlay {
  z-index: 5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.modal-title {
  font-size: 5rem;
}

.modal-text {
  font-size: 2rem;
  margin-top: 30px;
}



@media (max-width: 768px) {
  div.chapter-container {
    padding: 4% 5% 4% 5%;
  }

  h1.chapter-title {
    font-size: 2.5rem;
    text-align: center;
    padding: 3% 0 3% 0;
  }

  div.chapter-content {
    grid-template-columns: 1fr;
    gap: 0.8rem;
    grid-template-rows: 1fr 1fr;;
  }
}
