div.chapter-container {
  width: 100%;
  height: 100vh;
  z-index: 1;

  padding: 3% 8% 3% 8%;

  scroll-snap-align: start;

  -webkit-animation: BackgroundPositionAnimation 10s ease infinite;
  -moz-animation: BackgroundPositionAnimation 10s ease infinite;
  animation: BackgroundPositionAnimation 10s ease infinite;
}

.chapter {
  height: 100%;
}

h1.chapter-title {
  font-size: 3rem;
  color: #ffffff;
  padding-bottom: 3%;
}

div.chapter-content {
  height: 88%;
  width: 100%;

  display: grid;
  grid-template-columns: 1.05fr 0.9fr;
  gap: 1.2rem;
  grid-template-rows: 1fr;
}

div.chapter-content .chapter-carousel {
  max-height: 100%;
  max-width: 100%;

  border-radius: 8px;
}

div.chapter-content .chapter-carousel img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  border-radius: 8px;
}

div.chapter-content .chapter-texts {
  background-color: #ffffffd3;
  border-radius: 8px;
  box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.404);

  height: fit-content;
  max-height: 70vh; /* yeah... kind of risky */
  overflow-y: scroll;
}

div.chapter-content .chapter-texts .texts-container {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  color: #b9b9b9;
  padding: 10%;
  overflow-y: scroll;

  transition: 0.5s;
}

div.chapter-content .chapter-texts .texts-container p + p {
  margin-top: 10%;
}

div.chapter-content .chapter-texts .texts-container .active {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  transition: 0.5s;
}

@media (max-width: 768px) {
  div.chapter-container {
    padding: 4% 5% 4% 5%;
  }

  h1.chapter-title {
    font-size: 2.5rem;
    text-align: center;
    padding: 3% 0 3% 0;
  }

  div.chapter-content {
    grid-template-columns: 1fr;
    gap: 0.8rem;
    grid-template-rows: 1fr 1fr;;
  }
  div.chapter-content .chapter-carousel {
    max-height: 100%;
    max-width: 100%;
  }

  div.chapter-content .chapter-texts {
    height: fit-content;
    max-height: 37vh; /* yeah... kind of risky */
    overflow-y: scroll;
  }

  div.chapter-content .chapter-texts .texts-container {
    font-size: 1rem;
    font-weight: 500;
  }

  div.chapter-content .chapter-texts .texts-container .active {
    font-size: 1.2rem;
  }
}
