::-webkit-scrollbar {
  display: none;
}

div#container {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

div.snap-section {
  height: 100vh;
  scroll-snap-align: start;
}

main#title {
  display: flex;
  height: 100%;
}

main#title {
  background: #c54747;
  color: #ffffff;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main#title h1 {
  font-size: 5rem;
}
main#title a {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  padding: 1rem;
  margin-top: 15vh;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s;
}

main#title a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

main#title a p {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

div#author {
  display: flex;
  height: 85%;

  align-items: center;
  background-color: #fff;
  justify-content: center;
  padding: 0 16% 0 16%;
}

div#author div {
  margin-right: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

div#author div h2 {
  font-size: 2rem;
} 

div#author img {
  border-radius: 16px;
  width: 30%;
}

@media (max-width: 768px) {
  div#author {
    flex-direction: column;
    padding: 0 16px 0 16px;
    height: 70%
  }

  div#author img {
    margin-top: 16px;
    border-radius: 16px;
    width: 100%;
    max-height: 40%;
    object-fit: cover;
  }
}

footer {
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 32px 16px 32px 16px;
  height: 15%;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    height: 30%
  }

  footer div:first-child {
    margin-bottom: 32px;
  }

  footer p {
    text-align: center;
  }
}

footer a {
  color: #c54747;
}

footer div p + p {
  margin-top: 16px;
}

.text-icon {
  height: 1.5rem;
  margin-right: 8px;
  transform: translateY(0.4rem);
}

span.text-icon {
  background-image: url("ifpeopensource.png");
  display: inline-block;
  height: 1rem;
  width: 1rem;
  transform: translateY(0.1rem);
}
