main#title {
  background: #c54747;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main#title h1 {
  font-size: 3rem;
}
main#title a {
  position: absolute;
  bottom: 15vh;
  background-color: rgba(0, 0, 0, .1);
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s;
}

main#title a:hover {
  background-color: rgba(0, 0, 0, .3);
}

main#title a p {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0.5rem;
}